// Font imports and stacks
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
$title: "Montserrat", "Helvetica", "Arial", sans-serif;

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
$main: "Quicksand", "Helvetica", "Arial", sans-serif;

@import url('https://fonts.googleapis.com/css?family=Muli:300,600');
$subtitle: "Muli", "Helvetica", "Arial", sans-serif;


// Colors
$brand: #375C6B;
$brand-light: #9AB2B5;
$brand-lighter: #D7E3E5;
$brand-alt: #C5E1E5;
$brand-alt-light: #E1EBF0;
$accent: #5486B4;
$logo: #CEECEF;

$border: #F4F9F9;

$gray: #828282;
$white: #ffffff;
$black: #000000;