<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptopedia</title>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css" />
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <!-- Support for ng-cloak -->
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107297891-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-107297891-1');
    </script>
</head>

<body style="height: 100vh;" ng-app="cryptopedia">

    <div class="popup" data-popup="about" ng-controller="aboutController">
        <div class="popup__close popup__backdrop"></div>
        <div class="popup__main">
            <div class="popup__header">
                <h2 class="popup__title">About</h2>
            </div>
            <div class="popup__content" ng-bind-html="aboutContent"></div>
        </div>
    </div>

    <div class="popup" data-popup="contact">
        <div class="popup__close popup__backdrop"></div>
        <div class="popup__main ">
            <div class="popup__header">
                <h2 class="popup__title">Contact</h2>
            </div>
            <div class="popup__content popup__content--nopadding">
                <div class="popup__content-group">
                    <p class="popup__text popup__text--center popup__text--big">Something interesting we should know about?</p>
                
                    <form id="contact-form" class="contact" method="POST" action="http://formspree.io/ahnilica@gmail.com">
                        <div class="contact__group">
                            <div class="contact__input-group">
                                <label class="contact__label">Name</label>
                                <input type="text" class="contact__input" name="name">
                            </div>
                            <div class="contact__input-group">
                                <label class="contact__label">Email</label>
                                <input type="email" class="contact__input" name="email">
                            </div>
                        </div>
                        <div class="contact__group">
                            <div class="contact__input-group">
                                <label class="contact__label">Message</label>
                                <textarea class="contact__textarea" name="message"></textarea>
                            </div>
                        </div>
                        
                    </form>
                </div>

                <div class="popup__content-group">
                    <button class="cta" form="contact-form" type="submit">Submit</button>
                </div>

            </div>
        </div>
    </div>

    <header class="container-fluid header" ng-controller="headerController">
        <div class="row">
            <div class="col-xs-12 header__content">
                <div class="header__main">
                    <img src="images/logo.svg" alt="Logo" class="hidden-xs header__logo">
                    <img src="images/arrow.svg" alt="Arrow" class="header__arrow" ng-click="backArrowClicked()">
                    <a href="/"><div class="header__title"></div></a>
                    <img src="images/menu.svg" alt="Menu button" class="visible-xs visible-sm header__btn">
                </div>
                <nav class="header__nav">
                    <ul class="header__menu">
                        <li class="header__menu-item">
                            <a href="#" class="popup__open header__menu-link" data-popup="about">About</a>
                        </li>
                        <li class="header__menu-item">
                            <a href="#" class="popup__open header__menu-link" data-popup="contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="wrapper">

        <aside class="wrapper__sidebar" ng-controller="articleListController">
            <div class="tokens">
                <h3 class="tokens__title">Select a Token</h3>
                <ul class="tokens__list" ng-cloak>
                    <li class="tokens__item" ng-repeat="article in articles">
                        <a class="tokens__item-link" ng-click="articleSelected($event, article)">
                            <img ng-src="{{ article.data.token_image.url }}" alt="{{ article.data.token_image.alt }}" class="tokens__item-icon">
                            <h4 class="tokens__item-title">{{ article.data.name }}</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        <div class="wrapper__main" ng-controller="articleController">

            <div class="article">

                <!-- Landing Page -->
                <div class="landingPage col-lg-12 col-md-12" ng-controller="landingPageController">
                    <img class="landingPage__image" src="images/MainImage.jpg"></img>
                    <p class="landingPage__text" ng-cloak>{{ landingText }}</p>
                    <div class="landingPage__instructions">
                        <span class="landingPage__instructionText">Click a token to explore!</span>
                    </div>
                </div>

                <!-- Article Page -->
                <div class="article__main col-lg-8 col-md-12" ng-cloak>
                    <div class="banner">
                        <h1 class="text--title banner__title">{{ bannerTitle }}</h1>

                        <div class="banner__slider"></div>
                        <div class="banner__slider-title">{{ currentCarouselImage.slide_heading }}</div>
                        <div class="banner__slider-description">{{ currentCarouselImage.slide_caption }}</div>

                        <p class="text--paragraph banner__text">{{ bannerText }}</p>
                    </div>
                </div>

                <aside class="article__sidebar col-lg-4 col-md-12">
                    <div class="article__social" ng-cloak>
                        <div class="article__social-item" ng-repeat="x in socialLinks">
                            <div class="article__social-item__icon-wrapper" style="background-color: #000000;">
                                <img class="article__social-item__icon" ng-src="{{ x.social_icon.url }}"" style="width: {{ x.social_icon.dimensions.width }}; height: {{ x.social_icon.dimensions.height }};"></img>
                            </div>
                            <a ng-href="{{ x.link.url }}" class="article__social-item__link">{{ x.display_text }}</a>
                        </div>
                    </div>
                    <div ng-bind-html="sidebarContent"></div>
                </aside>

            </div>
        </div>

    </section>

    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/prismic-javascript.min.js"></script>
    <script type="text/javascript" src="js/prismic-dom.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script>
    <script src="js/bundle.js"></script>

</body>

</html>
