.article {

    @media screen and (max-width: 1024px) {
        height: calc(100vh - 67px);
        overflow-y: scroll;
    }

    &__main {

        @media screen and (min-width: 1025px) {
            height: calc(100vh - 67px);
        }

        overflow-y: scroll;
        padding: 0;
        padding-top: 14px !important;

        @include atSmall {
            padding: 0 1.25rem;
        }
        @include atMedium {
            padding: 0 2.8125rem;
        }
    }
    &__sidebar {
    
        @media screen and (min-width: 1025px) {
            height: calc(100vh - 67px);
        }

        overflow-y: scroll;
        padding-top: 25px !important;
        margin-top: 2rem;
        padding: 0 1.667rem 1.667rem 1.667rem;
        @include atSmall {
            padding: 0 1.25rem;
        }
        @include atMedium {
            margin-top: 0;
            padding: 0 1rem 0 0;
        }
    }
    &__title {
        margin-bottom: 1rem;
    }
    &__img {
        width: 100%;
        height: auto;
        margin: 1rem auto;
        @include atSmall {
            width: 70%;
            max-width: 340px;
        }
        @include atMedium {
            width: 100%;
            max-width: none;
        }
        &--small {
            width: 70%;
        }
    }
    &__video {
        margin: 1rem 0;
    }
    &__social {
        &-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            & + & {
                margin-top: 0.6667rem;
                @include atSmall {
                    margin-top: 0.5rem;
                }
            }
            &__icon-wrapper {
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 2.25rem;
                height: 2.25rem;
                margin-right: 0.5rem;
                @include atSmall {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
            &__icon {
                font-size: 1.25rem;
                color: $white;
                @include atSmall {
                    font-size: 1rem;
                }
            }
            &__link {
                font-family: $subtitle;
                font-weight: 500;
                font-size: 1rem;
                line-height: 1.1667rem;
                @include linkStates($gray, none);
                @include atSmall {
                    font-size: 0.75rem;
                    line-height: 0.875rem;
                }
            }
        }
    }
}

.article__sidebar {
    @include atSmall {
        padding: 0 1.25rem;
    }
    @include atMedium {
        padding: 0 2.8125rem;
    }
    h1, h2, h3, h4, h5 {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 15px;
        font-family:title;
        color: $accent;
    }
    p {
        text-indent: 35px;
        margin-bottom: 15px;
        text-align: left;
        &.block-img {
            text-indent: 0px;
            text-align: center;
            margin: 20px 0;
        }
        font-family
    }
    iframe, img {
        width: 100%;
        max-width: 500px;
        margin: 20px 0;
    }
}

