.banner {
    &__title {
        padding: 0 2.0833rem;
        @include atSmall {
            padding: 0;
        }
    }
    &__text {
        padding: 0 2.0833rem;
        @include atSmall {
            padding: 0;
        }
        margin: 15px auto;
    }
    &__slider {
        position: relative;
        width: 100%;
        max-width: 800px;
        text-align: center;
        margin: auto;
        &-title {
            text-align: center;
            font-family: $main;
        }
        &-description {
            font-weight: lighter;
            font-size: 14px;
            text-align: center;
            font-family: $subtitle;
        }
        &-item {
            width: 100%;
            height: auto;
            &:focus {
                outline: none;
            }
        }
        &-arrow-wrapper {
            cursor: pointer;
            position: absolute;
            z-index: 999;
            height: 100%;
            width: 20%;
            top: 0;
            opacity: 0.3;
            transition: all .3s;
            @media screen and (max-width: 768px) {
                width: 5%;
            }
            &:hover {
                opacity: 0.7;
            }
            &:first-of-type {
                left: 0;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
                img {
                    left: 20%;
                    right: auto;
                    transform: translate(-20%, -50%) scaleX(-1);
                }
            }
            &:last-of-type {
                right: 0;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
                img {
                    left: auto;
                    right: 20%;
                    transform: translate(-20%, -50%);
                }
            }
        }
        &-arrow {
            position: absolute;
            z-index: 999;
            top: 50%;
            cursor: pointer;
            width: 1rem;
            height: auto;
        }
        .slick {
            &-dots {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 6px;
                left: 50%;
                transform: translateX(-50%);
                @include atSmall {
                    bottom: 10px;
                }
                li {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    border: 1px solid #D2DFE4;
                    cursor: pointer;
                    &.slick-active {
                        background-color: #D2DFE4;
                    }
                    @include atSmall {
                        width: 8px;
                        height: 8px;
                    }
                    &+li {
                        margin-left: 6px;
                    }
                    button {
                        display: none;
                    }
                }
            }
        }
    }
}
