.wrapper {
    @media screen and (max-width: 768px) {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
    }
    &__sidebar {
        @media screen and (min-width: 769px) {
            width: 20%;
            max-width: 180px;
            padding: 2.125rem 0.875rem;
            display: inline-block;
            vertical-align: top;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            will-change: transform;
            transition: -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
            transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
            padding: 0 2.0833rem;
        }
        &.view-change {
            @media screen and (max-width: 768px) {
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
            }
        }
    }
    &__main {
        @media screen and (min-width: 769px) {
            width: 80%;
            border-left: 2px solid $border;
            flex-grow: 1;
            //padding: 1rem 0;
            display: inline-block;
        }
        @media screen and (max-height: 922px) {
            width: 75%;
        }
        @include atLarge {
            padding: 0.125rem 0;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            will-change: transform;
            transition: -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
            transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
            padding: 0 2.0833rem;

            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }
        &.view-change {
            @media screen and (max-width: 768px) {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
    }
}